@model Sano.Models.DataModels.CatUsuarios

@{
    ViewBag.Title = "Administracion de Cuenta";
    var rutaImagen = "../../Perfil_images/" + Model.imagenUsuario + ".jpg";
};


<div class="content">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Tus Datos:</h4>
            <div class="row">
              @using (Html.BeginForm("", "", FormMethod.Post, new { id = "DatosUsuario", @role = "form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
              {
                  <div class="form-group">
                    @Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.ApellidoPaterno, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "form-control" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.ApellidoMaterno, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "form-control" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.FechaNacimiento, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control", data_mask = "99/99/9999" })
                    </div>


                  </div>

                  <div class="form-group" style="text-align:right;padding-right:10px;">
                    <button type="submit" id="btnGuardarDatos" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5">Guardar</button>
                  </div>
              }
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Foto de Perfil</h4>
            <input id="FileUpload" class="dropify" type="file">

            <div class="form-group" style="text-align:right;padding-right:10px;padding-top:15px;">
              <button type="submit" id="btnGuardarImagen" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5">Guardar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

@section Configuracion{
  @Scripts.Render("~/bundles/Configuracion")
  <script>
    $(document).ready(function () {
      Configuracion.Init({
        UrlGuardarDatos: "@Url.Action("GuardarDatos", "Configuracion")",
        UrlGuardarImagen: "@Url.Action("GuardarImagen", "Configuracion")",
      });
      $('.dropify').dropify({
        'defaultFileName': 'Usuario.jpg',
        'defaultFile': '@rutaImagen',
        messages: {

          'default': 'Arrastra y suelta una imagen o da click',
          'replace': 'Arrastra y suelta  o click para reemplazar',
          'remove': 'Remover',
          'error': 'Lo siento, hubo un error.'
        },
        error: {
          'fileSize': 'El archivo es demasaido  (1M max).'
        }
      });
    });
  </script>

}
