


@{
    ViewBag.Title = "Index";
    Layout = null;
}

@Styles.Render("~/CSS/Bootstrap")
@Styles.Render("~/Layout")

<div class="row">
  <button type="button" class="btn btn-info" id="btnAnalisis" name="btnAnalisis" data-securitycontrol="2458" title="Renta de Equipos" style="float: left !important;"><b><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;Equipos</b></button>

  <button type="button" disabled class="btn btn-danger" id="btnApagar" name="btnApagar" data-securitycontrol="2458" title="Renta de Equipos" style="float: left !important;"><b><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;Apagar</b></button>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Buy (100)(Precio Baja)</h4>
          <div class="widget-chart-1">
            <div class="widget-chart-box-1">
              <input type="text" data-fgColor="#4e9c0c" data-width="90" value="0" id="ChartBuy">
            </div>
          </div>
          <div id="TotalBuyXrp" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total XRP</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Sell(100) (Precio Sube)</h4>
          <div class="widget-chart-1">
            <div class="widget-chart-box-1">
              <input type="text" data-fgColor="#e12909" data-width="90" value="0" id="ChartSell">
            </div>
          </div>
          <div id="TotalSellXrp" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total XRP</p>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Compro:</h4>
          <div class="widget-chart-1">
            <div id="PrecioPromVenta" class="widget-detail-1" style="float:left;">
              <h2 class="p-t-10 m-b-0"> 0 </h2>
              <p class="text-muted">Precio Prom MXN </p>
            </div>
          </div>
          <div id="TotalXrpVenta" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total Venta XRP</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Vendo:</h4>
          <div class="widget-chart-1">
            <div id="PrecioPromCompra" class="widget-detail-1" style="float:left;">
              <h2 class="p-t-10 m-b-0"> 0 </h2>
              <p class="text-muted">Precio Prom MXN </p>
            </div>
          </div>
          <div id="TotalXrpCompra" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total Compra XRP</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Buy (25) (Precio Baja)</h4>
          <div class="widget-chart-1">
            <div class="widget-chart-box-1">
              <input type="text" data-fgColor="#4e9c0c" data-width="90" value="0" id="ChartBuy25">
            </div>
          </div>
          <div id="TotalBuyXrp25" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total XRP</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card-box" style="height: 175px;">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </div>
          <h4 class="header-title m-t-0 m-b-30">Sell(25) (Precio Sube)</h4>
          <div class="widget-chart-1">
            <div class="widget-chart-box-1">
              <input type="text" data-fgColor="#e12909" data-width="90" value="0" id="ChartSell25">
            </div>
          </div>
          <div id="TotalSellXrp25" class="widget-detail-1" style="float:right;">
            <h2 class="p-t-10 m-b-0"> 0 </h2>
            <p class="text-muted">Total XRP</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

@Scripts.Render("~/Scripts/Jquery")
@Scripts.Render("~/Scripts/Jquery/JqueryValidate")
@Scripts.Render("~/Scripts/Bootstrap")
@Scripts.Render("~/Scripts/Bootstrap-Notify")
@Scripts.Render("~/Scripts/Layout")
@Scripts.Render("~/Site.js")
@Scripts.Render("~/bundles/Analisis")


<script>
  $(document).ready(function () {
    Analisis.Init({
      UrlTrades: "@Url.Action("Trades", "Analisis")",
    });
  });
</script>
