@using Sano.Models.AppModels
@model CuentaModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Iniciar Sesión";
}


<div class="middle-box text-center loginscreen animated bounceInDown">
  <div>
    <div>
      <!--LOGO-->
      <h1 class="logo-name"><img src="img/logo_lasalitas_Login.png" /></h1>
    </div>
    @*<h3>Sano</h3>*@
    <p>Iniciar Sesion.</p>


    @using (Html.BeginForm("IniciarSesion", "Cuenta", FormMethod.Post, new { id = "IniciarSesion", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
          @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @Placeholder = "Usuario" })
        </div>

        <div class="form-group">
          @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Contraseña" })
        </div>

          <div>
            <button id="btnIngresar" class="btn btn-primary block full-width m-b LoginIn">Iniciar</button>

            <a href="#"><small>¿Olvidaste tu contraseña?</small></a>
            <p class="text-muted text-center"><small>¿No recuerdas tu usuario?</small></p>
            @*<a class="btn btn-sm btn-white btn-block" href="register.html">Crear una cuenta</a>*@
            <p class="m-t"> <small>Bu &copy; @DateTime.Now.Year</small> </p>
          </div>

    }
  </div>
</div>



<script>
  $(function () {
    Cuenta.Init({
      UrlHome: '@Url.Action("Index", "Home")',
      UrlLogin: '@Url.Action("IniciarSesion", "Cuenta")',
      UrlLogOff: '@Url.Action("CerrarSesion", "Cuenta")',
      UrlRegister: '@Url.Action("Register", "Cuenta")',
    });
  });
</script>


















